@import "/app/styles/app.less";

#deck {
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;

  .row {
    display: flex;
    position: relative;

    .card, .gap {
      margin: 0 3px;
      flex: 1;

      img {
        width: 100%;
      }
    }
  }
}
