#deck {
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;

  .row {
    display: flex;
    position: relative;

    .card, .gap {
      flex: 1;
      margin: 0 3px;
      cursor: pointer;
      border-radius: 4px;
      transition: transform 0.3s, z-index 0s 0.3s;
      z-index: 1;

      img {
        width: 100%;
      }
      &.placed > img {
        filter: brightness(0.7);
      }
      &.dragging {
        transition: none;
        z-index: 100;

        > img {
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        }
      }
      &.highlight {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
      }
    }
  }
}
