{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.base.js"
      }
    }
  },
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": [2, "never"],
    "max-len": 0,
    "no-shadow": 0,
    "arrow-body-style": 0,
    "global-require": 0,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "no-confusing-arrow": 0,
    "no-unused-vars": 0,
    "no-constant-condition": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "react/jsx-no-target-blank": 0,
    "react/jsx-filename-extension": [2, {"extensions": [".js", ".jsx"]}]
  }
}
