{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "max-nesting-depth": 5,
    "rule-empty-line-before": null,
    "selector-max-id": 1,
    "selector-no-qualifying-type": null,
    "selector-max-compound-selectors": 6,
    "shorthand-property-no-redundant-values": null,
    "scss/at-import-partial-extension-blacklist": null
  }
}
